<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1015434666236-gk4mfigr5gobksbgj83mvj4sd1cgfsmb.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1015434666236-gk4mfigr5gobksbgj83mvj4sd1cgfsmb</string>
	<key>API_KEY</key>
	<string>AIzaSyDkATrMkpK6cfOUnR0ZygmoHy8dFuWqGnk</string>
	<key>GCM_SENDER_ID</key>
	<string>1015434666236</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.hockey.AAATraining</string>
	<key>PROJECT_ID</key>
	<string>aaatrainingapp</string>
	<key>STORAGE_BUCKET</key>
	<string>aaatrainingapp.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1015434666236:ios:a6525f34e2696105c6f779</string>
	<key>DATABASE_URL</key>
	<string>https://aaatrainingapp.firebaseio.com</string>
</dict>
</plist>